<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Date of Birth' , class:'control-label'%><br>
    <div class="row">

      <div class="col-md-4">
        <%= f.date_select :DOB,  {:date_separator => '</div><div class="col-md-4">', :start_year => Date.today.year - 110, :end_year => Date.today.year  }, { :class => "form-control" } %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :Name %><br>
    <div class="row">
    <div class="col-sm-6 col-md-4">

      <%= f.text_field :Name, class: "form-control" %>
    </div>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :Surname %><br>
    <div class="row">
    <div class="col-sm-6 col-md-4">

      <%= f.text_field :Surname, class: "form-control" %>
    </div>
    </div>
  </div>


  <div class="actions">
    <%= f.submit 'Find out now', class: "btn btn-default" %>
  </div>
<% end %>
