<p id="notice"><%= notice %></p>

<h1>People</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Date of Birth</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Created on</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.DOB %></td>
        <td><%= person.Name %></td>
        <td><%= person.Surname %></td>
        <td><%= person.created_at %></td>
        <td style="text-align:right;">
          <%= link_to ("<span class='glyphicon glyphicon-link'></span>").html_safe, person, class: "btn btn-default"%>
          <%= link_to ("<span class='glyphicon glyphicon-edit'></span>").html_safe, edit_person_path(person), class: "btn btn-primary" %>
          <%= link_to ("<span class='glyphicon glyphicon-trash'></span>").html_safe, person, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path, class:'btn btn-default' %>
