<p id="notice"><%= notice %></p>

<h3><%= @person.Name %> <%= @person.Surname %> has been alive for</h3>
<h2><%= @daysAlive %> Day<% if(@daysAlive != 1) %>s<%end%></h2>
<h2><%= @martianDaysAlive %> Martian day<% if(@daysAlive != 1) %>s<%end%></h2>

<p>
  <strong>You were born:</strong>
  <%= @person.DOB %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.Name %>
</p>
<p>
  <strong>Surname:</strong>
  <%= @person.Surname %>
</p>

<p>
  <strong>Submitted at:</strong>
  <%= @person.created_at %>
</p>

<%= link_to 'Lets try another', root_path, class:"btn btn-default" %>
