
  <footer>
  <div class="container">
    <div class="row">
    <div class="col-sm-9 footer-category">
      <ul style="list-style:none;padding:0;">
        <li><strong>What is this? </strong></li>
        <li><p>This website is to satisfy the requirements for the Software Deployment and Evolution Assignment 1</p></li>
      </ul>

    </div>
      <div class="col-sm-3 footer-category">
        <ul style="list-style:none;padding:0;">
          <li><strong>Team Members</strong></li>
          <li>John Stableford</li>
          <li>Stephanie Baker</li>
          <li>James Kernaghan</li>
        </ul>

      </div>
    </div>
  </div>
</footer>
