
    <meta charset="utf-8">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <%# favicon_link_tag '/assets/favicon.ico' %>
<link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" />


  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>


  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>




  <%= csrf_meta_tags %>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
