
  <nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="padding-top:0;padding-bottom:0;">
        <a class="navbar-brand" href="/">
          <span class="glyphicon glyphicon-globe"></span>
          Person Age
        </a>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/" alt="New User">
            <span class="glyphicon glyphicon-plus"></span>
            <span class="glyphicon glyphicon-user"></span>
          </a>
        </li>
        <li><a href="/people" alt="list users">
          <span class="glyphicon glyphicon glyphicon-th-list"></span>
          <span class="glyphicon glyphicon-user"></span>
      </a></li>

      </ul>





    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<%= render partial: 'shared/loading' %>
