footer{
  padding-top:20px;
  padding-bottom:20px;
  color:$navbar-default-color;
  background-color:$navbar-default-bg;
  border-top:2px solid $navbar-default-border;
}
footer .spacer{
  padding-left:10px;
  padding-right:10px;
}


footer .footer-category {
  margin-bottom:40px;
}

.content-wrapper{
  min-height:600px;
  background:#fff;
}
.navbar-wrapper{
  background:#fff;
}

.content-wrapper .container.container-main{
  min-height:400px;
  padding-bottom:100px;
}

.navbar-brand{
  font-weight:bold;
}
