
//variables
//lines outer to inner
$line1-color: $brand-primary;
$line2-color: mix($brand-primary, $gray);
$line3-color: mix($line2-color, $gray-darker);
$line4-color: $gray-darker;



// xs screen (mobile etc)
@media(max-width:767px){




  #site-loader {
    opacity:0;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(200,200,200,0.8);

      transition:0.7s linear all;
       transition-delay: 0.2s;

  }

  #site-loader.loading {
    opacity:1;
    z-index:999;
    cursor:wait;

    background-color:transparent;
  }


  #loader-box {
    width: 175px;
    height:175px;
    border-radius:50%;
    background-color: transparentize($body-bg, 0.1);
    @include box-shadow(0px, 0px, 7px, 7px, transparentize($body-bg, 0.6));
    position: relative;
  }

  .spinner-icon {
    width:100%;
    height:100%;
  }



  #site-loader .spinner-icon {
    opacity:0;
  }
  #site-loader.loading .spinner-icon {
    opacity:1;
  }

  /* Animations! */
  .spinner-icon{
    transition:0.7s linear all;
     transition-delay: 0.2s;
  }
  .spinner-icon .line1{
     transition:0.2s linear all;
      transition-delay: 0.2s;
  }
  .spinner-icon .line2{
     transition:0.2s linear all;
      transition-delay: 0.3s;
  }
  .spinner-icon .line3{
     transition:0.2s linear all;
      transition-delay: 0.4s;
  }
  .spinner-icon .line4{
     transition:0.2s linear all;
      transition-delay: 0.5s;
  }


  /* hidden state */

  .spinner-icon.hide .line1,
  .spinner-icon.hide .line2,
  .spinner-icon.hide .line3,
  .spinner-icon.hide .line4{
    opacity:0;
  }



  .spinner-icon{
    display:inline-block;
    position:relative;
  }
  .spinner-icon :last-child div{
    background-color:grey;
  }
  .spinner-icon .spincontainer {
    position:absolute;

  /*     display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex; */
      display: flex;
    align-items:center;
     justify-content: center;

    left:0;right:0;top:0;bottom:0;
  }
  .spinner-icon .spincontainer div {
    flex:1;
    border-radius:50%;
  }

  .spinner-icon .spincontainer.line1 div {
    width:100%;
    height:100%;

    border:20px solid transparent;
    border-top-color: $line1-color;
    border-right-color: $line1-color;

    -webkit-animation: spin 4s ease-out infinite;
    animation: spin 4s ease-out infinite;

  }
  .spinner-icon .spincontainer.line2 div {
    width:75%;
    max-width:75%;
    height:75%;

    border:20px solid transparent;
    border-top-color: $line2-color;
    border-right-color: $line2-color;

    -webkit-animation: spin 2s ease-out infinite;
    animation: spin 2s ease-out infinite;
  }
  .spinner-icon .spincontainer.line3 div {
    width:50%;
    max-width:50%;
    height:50%;

    border:20px solid transparent;
    border-top-color: $line3-color;
    border-right-color: $line3-color;

    -webkit-animation: spin 1s ease-out infinite;
    animation: spin 1s ease-out infinite;

  }
  .spinner-icon .spincontainer.line4 div {
    width:0%;
    max-width:0%;
    height:0%;

    border:20px solid $line4-color;
    /* border-top-color:pink;
    border-bottom-color:pink; */

  }


  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }




}
@media(min-width:768px){

  #site-loader{
    display:block;
    height:4px;

      opacity:1;
      position:relative;
      z-index:999;

  }
  #site-loader.stick-top{

  position: fixed;
  width: 100%;
  z-index:999;
  top: 0;

  }


  #loader-box{
    display:block;
    height:100%;
    width:100%;
    //background-color:$body-bg;
  }
  #loader-box .spinner-icon{
    display:block;
    height:100%;
    width:0%;
    background-color:$brand-success
  }

  #loader-box .spinner-icon{
      transition:0.2s linear;
  }
  #loader-box .spinner-icon.load-step-0{
    width:10%;
  }
  #loader-box .spinner-icon.load-step-1{
    width:40%;
  }
  #loader-box .spinner-icon.load-step-2{
    width:50%;
  }
  #loader-box .spinner-icon.load-step-3{
    width:60%;
  }
  #loader-box .spinner-icon.load-step-4{
    width:100%;
  }
}
