<!DOCTYPE html>
<html>
<head>
  <title>Person Age</title>
      <%= render partial: 'shared/header' %>
</head>
<body>
  <div class="navbar-wrapper clearfix">
    <%= render partial: 'shared/navbar' %>
  </div>


<div class="content-wrapper">

  <div class="container container-main">
    <%= yield %>
  </div>

</div>

    <%= render partial: 'shared/footer' %>

</body>
</html>
